body {
font-family: Arial, sans-serif;
background: #0b0c10;
color: #ffffff;
margin: 0;
padding: 0;
}


.box {
max-width: 350px;
margin: 80px auto;
padding: 25px;
background: #1f2833;
border-radius: 14px;
box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
text-align: center;
}


h2 {
color: #66fcf1;
margin-bottom: 20px;
}


input {
width: 100%;
padding: 12px;
border-radius: 8px;
border: 1px solid #45a29e;
background: #0b0c10;
color: #fff;
margin-bottom: 20px;
}


button {
width: 100%;
padding: 12px;
background: #45a29e;
border: none;
border-radius: 10px;
color: #0b0c10;
font-size: 18px;
font-weight: bold;
cursor: pointer;
}


button:hover {
background: #66fcf1;
}